@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu+Mono:wght@400;700&display=swap');
/* font-family: 'Roboto',
sans-serif;
font-family: 'Ubuntu Mono',
monospace; */
:root{
    --backgorund-app: #014034;
    --primary-color:#36BFB1;
    --ligth-primary-color:rgb(54, 191, 177,0.5);
    --ligth-primary-color2: rgb(54, 191, 177, 0.2);

    --secondary-color: #038C73;
    --third-color:#02735E;
    --fourth-color:#014034;
    --black-color:#0D0D0D;
    --white-color:white;
    --button:rgb(19, 119, 242);
    --black-hight:rgb(25, 25, 25);
    --letter-selected:rgb(19,119,242);    
    --line:#98e5f8;
    
    --background-gradient:linear-gradient(195deg, rgb(66, 66, 74) 0%, rgb(5, 71, 151) 100%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--backgorund-app);
    overflow-x: hidden;
    background: linear-gradient(195deg, rgb(66, 66, 74) 0%, rgb(5, 71, 151) 100%);

}
body{
   color: var(--white-color);
  
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: aliceblue;
}
button {
    margin-top: 1rem;
    font-size: 1.8rem;
    background-color: var(--secondary-color);
    border: none;
    padding: 1rem;
    width: 50%;
    border-radius: 1rem;
    cursor: pointer;
    color: aliceblue;
}
.hide{
    display: none!important;
}

.letter-selected{
    color:var(--letter-selected);
}

/* MOBILE MENU */

#menu{
    position: fixed;
    z-index: 20;
    top: 2.5rem;
    right: 3rem;
    transition:1s;
    color: var(--primary-color);
    font-size: 3rem;
    cursor: pointer;

}
#close{
    display: none;
    position: fixed;
    z-index: 20;
    top: 2.5rem;
    left:-30rem;
    color: var(--line);

    cursor: pointer;
}

#menu_check:checked ~ label #close{
    display: block;
    left: 30rem;
}
#menu_check:checked~label #menu {
    display: none;
}
#menu_check:checked~aside {
    left: 0;
}
.hovered{
    background: var(--primary-color);
   
}

/* SIDEBAR */
aside{
 /*Background*/
box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgb(46, 147, 128);
background:linear-gradient(195deg, rgb(66, 66, 74) 0%, rgb(5, 71, 151) 100%);
max-width: 32rem;
margin: 2rem 1rem;
width: 100%;
height: calc(95vh - 1rem);
border-radius: 1rem;

position: fixed;
top: 0.1rem;
left: -34rem;
display: flex;
flex-direction: column;
align-items: center;
z-index: 10;
scroll-behavior: auto;
transition: 0.5s;


}
aside .aside-logo{
    margin: 2rem auto;
    padding: 1rem autos;
    border-bottom: 1px solid var(--line);
    width: 90%;
    text-align: center;

}
aside .aside-logo img{
    width: 5rem;
    margin: 2rem 0;
}
aside .aside-nav{
    font-size: 1.8rem;
    width: 90%;
    margin-bottom: 0;
}
aside .aside-nav ul li{
    margin: 1rem auto;
    align-content: flex-end;
    width: 85%;
    padding: 1.5rem;
    border-radius: 1rem;
    
}
aside .aside-nav ul li a i{
    color: var(--line);
    margin-right: 1.5rem;
}
aside .aside-nav ul li:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}
aside .aside-button {
    width: 100%;
    text-align: center;

}

/* MAIN */
main{
    /* position: absolute; */
    right: 0;
    left: 0;
   
    
    width: 100%;
    margin:8rem 0;
    
    display: flex;
    flex-direction: row;
    justify-content: center;

}
section.dashboard-devices{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
section.dashboard-devices .tittle-section{
    border-bottom: 1px solid var(--prymary-color);
    width: 90%;
    color: aliceblue;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-bottom: 1.2rem;
}
section.dashboard-devices h2{
    color:var(--black-color);
}
.card{
   background-color: white;
    margin:3rem 0;
    width:90%;
    height: 15rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px 1px rgb(46, 147, 128,0.5);
}
.card .icon{
    position: relative;
    background-color: var(--primary-color);
    width: 7rem;
    height: 7rem;
    color:var(--white-color);
    border-radius: 1rem;
    top: -2rem;
    left: 2rem;
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;

    box-shadow: 1px 1px 1.2px 1px rgb(0,0,0,0.3);
   
}
.card .value-sensor{
    position:relative;
    top:-5rem;
    left: 40vw;
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card .value-sensor span{
    font-size: 2rem;
    color: rgb(0,0,0,0.5);
    margin-bottom: 1rem;

}
.card .value-sensor h2 {
    width: 10rem;
    margin-top: 1.5rem;
    font-size: 4rem;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
}
.card .button-sensor{
    position:relative;
    margin-left: 1.5rem;
    top:-8rem;
    width: 50%;
}
/* GRAPH */
canvas{
    background: var(--white-color);
    border-radius: 1rem;
    margin: 1rem;
    color: var(--primary-color);
    
}
/* DEVICES SECTION*/
.list-of-devices{

    display: flex;
    flex-direction: column;

    width: 90%;
    height: 90vh;

    font-size: 2.2rem;

    
}
.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: 1rem 0;
    background-color: gray;
    border-radius: 1rem;
    padding: 1rem;
}

.card-info .icon-card {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 4rem;
}

/*FORM NEW DEVICES*/
.form-new-device{

    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    flex-wrap: wrap;

    width: 100%;
    height: 100vh;
}
.form-new-device h2{
    font-size: 2rem;
    font-weight: 900;
}
.form-device{
    display: flex;
    flex-direction: column;
    
    width: 95%;
    align-items: flex-start;
}
.form-device input{
    width: 80%;
    height: 2rem;
    margin: 2rem ;
    padding: 1.5rem;
    
    background:var(--background-gradient);
    border-radius: 0.5rem;
    border: none;
    box-shadow: 1px 1px 2px 1px var(--line);
    color: var(--line);
    outline: none;

    font-size: 1.8rem;
}
.form-device input::placeholder {
    color: var(--primary-color);
}

.form-device select{
    width: 80%;
    margin: 2rem;

    background: var(--background-gradient);
    border-radius: 0.5rem;
    border: none;
    box-shadow: 1px 1px 2px 1px var(--line);
    color: var(--line);
    outline: none;

    font-size: 1.8rem;
    color: var(--primary-color);
}
.form-device select:hover{
    background-color:var(--fourth-color)
}


.form-device select option{
    color: var(--primary-color);
    background: var(--background-gradient);

}
.form-device select option[selected] {
    background: var(--secondary-color);
}
