/* Ellipse 1 */

.logo{position: absolute;
width: 100px;
height: 100px;

background: #FFDD22;


/* SD */

position: absolute;
width: 93px;
height: 80px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 80px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}